<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
        <add key="HrEmail" value="eduard.jarnea@iquestgroup.com" />
        <add key="PmEmail" value="eduard.jarnea@iquestgroup.com" />
        <add key="EmployeeEmail" value="eduard.jarnea@iquestgroup.com" />
        <add key="HrSubject" value="Cerere concediu pentru HR" />
        <add key="PmSubject" value="Cerere concediu pentru PM" />
        <add key="EmployeeSubject" value="Cerere concediu pentru angajat" />
        <add key="UseDefaultCredentials" value="true" />
        <add key="Port" value="587" />
        <add key="Host" value= "exch-ca.esp.local"/>
        <add key="EnableSsl" value="true" />
    </appSettings>
    </configuration>